html, body {
  height: 100%;
  width:100%;

}

#universe {
  background:rgb(9, 9, 8);
  background: -webkit-radial-gradient(#555,#000);
  background: -moz-radial-gradient(#555,#000);
  background: -o-radial-gradient(#555,#000);
  background: radial-gradient(#555,#000);
}
